/* CONTENT LIST */
/***************/
//1. General
//2. Header
//3. Content
//4. Footer
//5. Sidebar
/***************/






/* 2. Header */

@import  './partials/header';


/* 3. Content */
@import  './partials/main';
/* 5. Sidebar */

@import  './partials/sidebar';