/* Content List */
/***************/
//1. Web
/**************/
// 1.1 Landing
// 1.2 Login
// 1.3 Register
// 1.4 Forgot
// 1.5 Recovery
// 1.6
/**************/
//2. Dashboard
/**************/
// 2.1 Index
// 2.2
// 2.3
// 2.4
// 2.5
// 2.6





/*1. Web*/
//*******
/* 1.1 Landing */
#viewLanding {
 margin-top: 3rem;
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
  }
  ul {
    padding: 0;
    list-style: none;

  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*========== CLASS CSS ==========*/
  .section {
    padding: 4rem 0 2rem;
  }

  .section-title,
  .section-subtitle {
    text-align: center;
  }

  .section-title {
    color: $black2;
  }

  .section-subtitle {
    display: block;
    color: $primary;
    font-weight:500;
    margin-bottom: .5rem;
    font-size: 25px;
  }

  /* LAYOUT */

  .bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .bd-grid {
    display: grid;
    gap: 1.5rem;
  }

  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $body-bg;
  }

  /*========== NAV ==========*/

  .nav {
    max-width: 1378px;
    height: 3rem ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
  }

  @media screen and (max-width: 768px) {
    .nav__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: $body-bg;
      transition: 0.4s;
      @include box-shadow($top: 0px, $left: 4px, $blur: 4px, $color: rgba(0, 0, 0, 0.1), $inset: "");
      @include radius($border-top-left: 0, $border-top-right: 0, $border-bottom-left: 1rem, $border-bottom-right: 1rem);
      z-index: 100;
    }
  }

  .nav__item {
    margin-bottom: 1rem;
  }

  .nav__link,
  .nav__logo,
  .nav__toggle {
    color: $grey-55;
    font-weight: 500;
  }

  .nav__logo:hover {
    color: $primary;
  }

  .nav__link {
    transition: 0.3s;
  }

  .nav__link:hover {
    color: $primary;
  }

  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;

  }

  /* SHOW-MENU */
  .show-menu {
    top: 3rem;
  }

  /*========== ACTIVE MENU ==========*/
  .active-link {
    color: $primary;
  }

  /*========== CHANGE BACKGROUND HEADER ==========*/
  .scroll-header {
      @include box-shadow($top: 0, $left: 2px, $blur: 4px, $color:rgba(0, 0, 0, 0.1), $inset: "");

  }

  /*========== SCROLL TOP ==========*/
  .scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: rgba(6, 156, 84, 0.5);
    border-radius: 0.4rem;
    z-index: 10;
    transition: 0.4s;
    /* visibility: hidden; */
  }

  .scrolltop:hover {
    background-color: $primary-alt;
  }

  .scrolltop__icon {
    font-size: 1.8rem;
    color: $body-bg;
  }

  /*========== SHOW SCROLLTOP ==========*/

  .scroll-top {
    visibility: visible;
    bottom: 1.5rem;
  }

  /*========== HOME ==========*/

  .home__container {
    height: calc(100vh - var(3rem));
    align-content: center;
  }

  .home__title {

    color: $primary;
    margin-bottom: 0.5rem;
    font-weight: 800;
  }

  .home__subtitle {

    color: $black2;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .home__img {
    width: 300px;
    justify-self: center;
  }

  /*========== BUTTONS ==========*/

  .button {
    display: inline-block;
    background-color: $primary;
    color: $white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
  }

  .button:hover {
    background-color: $primary-alt;
  }

  /*========== ABOUTS ==========*/

  .about__data {
    text-align: center;
  }

  .about__description {
    margin-bottom: 1.5rem;
  }

  .about__img {
    width: 280px;
    @include radius($border-top-left: 0.5rem, $border-top-right: 0.5rem, $border-bottom-left: 0.5rem, $border-bottom-right: 0.5rem);
    justify-self: center;
  }

  /*========== SERVICES ==========*/

  .services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .services__content {
    text-align: center;
  }
  .services__img {
    width: 64px;
    height: 64px;
    fill: $primary;
    margin-bottom: 1rem;
  }

  .services__title {

    color: $black2;
    margin-bottom: 0.5rem;
  }

  .services__description {
    padding: 0 1.5rem;
  }

  /*========== MENU ==========*/



  .menu__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    @include radius($border-top-left: 0.5rem, $border-top-right: 0.5rem, $border-bottom-left: 0.5rem, $border-bottom-right: 0.5rem);
    @include box-shadow($top: 0px, $left: 2px, $blur: 4px, $color:rgba(3, 74, 40, 0.15), $inset: "") ;
    padding: 0.75rem;
  }

  .menu__img  {
    width: 100px;
    align-self: center;
    margin-bottom: 1rem;

  }

  .menu__name,
  .menu__preci {
    font-weight: 600;
    color: $black2;
  }

  .menu__name {
    font-size: $font-size-base;
  }

  .menu__detail,
  .menu__preci {
    font-size: 0.813rem;
  }

  .menu__detail {
    margin-bottom: 0.5rem;
  }

  .menu__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0.625rem 0.813rem;
    border-radius: 0.5rem 0 0.5rem 0;
  }

  /*========== APP ==========*/

  .app__data {
    text-align: center;
  }

  .app__description {
    margin-bottom: 2.5rem;
  }

  .app__stores {
    margin-bottom: 2rem;
  }

  .app__store {
    width: 120px;
    margin: 0  0.5rem;
  }

  .app__img {
    width: 230px;
    justify-self: center;
  }

  /*========== CONTACT ==========*/
  .contact__container {
    text-align: center;
  }

  .contact__description {
    margin-bottom: 1.5rem;
  }

  /*========== FOOTER ==========*/
  .footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }

  .footer__logo{
    font-size: 1rem;
    color: $primary;
    font-weight: 600;
  }

  .footer__description{
    display: block;

    margin: .25rem 0 1.5rem;
  }

  .footer__social{
    font-size: 1.5rem;
    color: $black2;
    margin-right: 1rem;
  }

  .footer__title{
    font-size: 1.25rem;
    color: $black2;
    margin-bottom: 1rem;
  }

  .footer__link{
    display: inline-block;
    color: $grey-55;
     margin-bottom: 0.5rem;
  }

  .footer__link:hover{
    color: $primary;
  }

  .footer__copy{
    text-align: center;
    color: $grey-35;
    margin-top: 3.5rem;
  }

  /*========== MEDIA QUERIES ==========*/
  @media screen and (min-width: 576px){
    .home__container,
    .about__container,
    .app__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }

    .about__data, .about__initial,
    .app__data, .app__initial
    .contact__container, .contact__initial{
      text-align: initial;
    }

    .about__img, .app__img{
      width: 380px;
      order: -1;
    }

    .contact__container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
     .contact__button{
       justify-self: center;
     }
  }

  @media screen and (min-width: 768px){
    body{
      margin: 0;

    }

    .bd-container{
    max-width: 1378px;
    }

    .section{
      padding-top: 8rem;
    }
   body .nav{
      height: calc(3rem + 1.5rem) ;
      display: flex ;
    }

    .nav__list{
      display: flex ;
      flex-direction: row;
    }
    .nav__item{
      margin-left: 2.5rem;
      margin-bottom: 0;
    }

    .nav__toggle{
      display: none;
    }

    /* .change-theme{
      position: initial;
      margin-left: var(--mb-2);
    } */

    .home__container{
      height: 100vh;
      justify-items: center;
    }

    .services__container,
    .menu__container{
      margin-top: 3rem;
    }

    .menu__container{
      grid-template-columns: repeat(3, 210px);
      column-gap: 4rem;
    }

    .menu__content{
      padding: 1.5rem;
    }
    .menu__img{
      width: 130px;
    }

    .app__store{
      margin: 0 0.5rem;
    }
  }

  @media screen and (min-width: 960px){
     .bd-container{
       margin-left: auto;
       margin-right: auto;
     }

     .home__img{
       width: 500px;
     }

     .about__container,
     .app__container{
       column-gap: 7rem;
     }
  }


    &.dark-theme{
        background: $body-dark;
        .l-header  {
            background-color:  $body-dark;
        }
        .nav__menu {
            background:  $body-dark;
        }
        .scrolltop__icon {
            background:  $body-dark;
        }

        .section-title,.home__subtitle,  .services__title,.footer__social,.footer__title  {
            color:$grey-5;
        }

        .nav__link,
        .nav__logo,
        .nav__toggle,
        .footer__link {
            color:$grey-20;
            font-weight: 500;
            &:hover {
                color: $primary;
            }
        }
         .menu__content{
            background-color: $container-dark;
        }

    }
}






/* 1.2 Login */





/* 1.3 Register */
/* 1.4 Forgot */
/*1.5 Recovery */
