:root {
    --header-height: 3rem;
    /* COLORS */
    --first-color: #069c54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #a6a6a6;
    --body-color: #fbfefd;
    --container-color: #ffffff;
  
    /* FONT AND TYPOGRAPHY */  
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  
    /* FONT WEIGHT */
  
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* MARGENES */
  
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
    /* Z INDEZ */
  
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  @media screen and (min-width: 768px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
  /*  BASE */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /*========== VARIABLE DARK THEME ==========*/
  body.dark-theme{
    --title-color: #f1f3f2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
  }
  
  /*========== BUTTON DARK/LIGHT ==========*/
  .change-theme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
  }
  
  body {
    margin: var(--header-height) 0 0 0  !important;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*========== CLASS CSS ==========*/
  .section {
    padding: 4rem 0 2rem;
  }
  
  .section-title,
  .section-subtitle {
    text-align: center;
  }
  
  .section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
  }
  
  .section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    font-size: 25px;
  }
  
  /* LAYOUT */
  
  .bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
  .bd-grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }
  
  /*========== NAV ==========*/
  
  .nav {
    max-width: 1378px;
    height: var(--header-height);
    display: flex !important;
    justify-content: space-between!important;
    align-items: center !important;
  }
  
  @media screen and (max-width: 768px) {
    .nav__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--body-color);
      transition: 0.4s;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
    }
  }
  
  .nav__item {
    margin-bottom: var(--mb-2);
  }
  
  .nav__link,
  .nav__logo,
  .nav__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }
  
  .nav__logo:hover {
    color: var(--first-color);
  }
  
  .nav__link {
    transition: 0.3s;
  }
  
  .nav__link:hover {
    color: var(--first-color);
  }
  
  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
   
  }
  
  /* SHOW-MENU */
  .show-menu {
    top: var(--header-height);
  }
  
  /*========== ACTIVE MENU ==========*/
  .active-link {
    color: var(--first-color);
  }
  
  /*========== CHANGE BACKGROUND HEADER ==========*/
  .scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /*========== SCROLL TOP ==========*/
  .scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: rgba(6, 156, 84, 0.5);
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    /* visibility: hidden; */
  }
  
  .scrolltop:hover {
    background-color: var(--first-color-alt);
  }
  
  .scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
  }
  
  /*========== SHOW SCROLLTOP ==========*/
  
  .scroll-top {
    visibility: visible;
    bottom: 1.5rem;
  }
  
  /*========== HOME ==========*/
  
  .home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
  }
  
  .home__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  
  .home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
    font-weight: 600;
  }
  
  .home__img {
    width: 300px;
    justify-self: center;
  }
  
  /*========== BUTTONS ==========*/
  
  .button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: var(--first-color-alt);
  }
  
  /*========== ABOUTS ==========*/
  
  .about__data {
    text-align: center;
  }
  
  .about__description {
    margin-bottom: var(--mb-3);
  }
  
  .about__img {
    width: 280px;
    border-radius: 0.5rem;
    justify-self: center;
  }
  
  /*========== SERVICES ==========*/
  
  .services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  
  .services__content {
    text-align: center;
  }
  .services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
  }
  
  .services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
  }
  
  .services__description {
    padding: 0 1.5rem;
  }
  
  /*========== MENU ==========*/
  
  /* .text-center{
    text-align: center;
  } */
  
  .menu__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  
  .menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
    padding: 0.75rem;
  }
  
  .menu__img {
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
  }
  
  .menu__name,
  .menu__preci {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .menu__name {
    font-size: var(--normal-font-size);
  }
  
  .menu__detail,
  .menu__preci {
    font-size: var(--small-font-size);
  }
  
  .menu__detail {
    margin-bottom: var(--mb-1);
  }
  
  .menu__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0.625rem 0.813rem;
    border-radius: 0.5rem 0 0.5rem 0;
  }
  
  /*========== APP ==========*/
  
  .app__data {
    text-align: center;
  }
  
  .app__description {
    margin-bottom: var(--mb-5);
  }
  
  .app__stores {
    margin-bottom: var(--mb-4);
  }
  
  .app__store {
    width: 120px;
    margin: 0 var(--mb-1);
  }
  
  .app__img {
    width: 230px;
    justify-self: center;
  }
  
  /*========== CONTACT ==========*/
  .contact__container {
    text-align: center;
  }
  
  .contact__description {
    margin-bottom: var(--mb-3);
  }
  
  /*========== FOOTER ==========*/
  .footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  
  .footer__logo{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
  }
  
  .footer__description{
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
  }
  
  .footer__social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
  }
  
  .footer__title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
  }
  
  .footer__link{
    display: inline-block;
    color: var(--text-color);
     margin-bottom: var(--mb-1);
  }
  
  .footer__link:hover{
    color: var(--first-color);
  }
  
  .footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
  }
  
  /*========== MEDIA QUERIES ==========*/
  @media screen and (min-width: 576px){
    .home__container, 
    .about__container, 
    .app__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
  
    .about__data, .about__initial,
    .app__data, .app__initial
    .contact__container, .contact__initial{
      text-align: initial;
    }
  
    .about__img, .app__img{
      width: 380px;
      order: -1;
    }
  
    .contact__container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
     .contact__button{
       justify-self: center;
     }
  }
  
  @media screen and (min-width: 768px){
    body{
      margin: 0;
      
    }
  
    .bd-container{
    max-width: 1378px;
    }
  
    .section{
      padding-top: 8rem;
    }
   body .nav{
      height: calc(var(--header-height) + 1.5rem) !important;
      display: flex !important;
    }
   
    .nav__list{
      display: flex ;
      flex-direction: row;
    }
    .nav__item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
  
    .nav__toggle{
      display: none;
    }
  
    /* .change-theme{
      position: initial;
      margin-left: var(--mb-2);
    } */
  
    .home__container{
      height: 100vh;
      justify-items: center;
    }
  
    .services__container,
    .menu__container{
      margin-top: var(--mb-6);
    }
  
    .menu__container{
      grid-template-columns: repeat(3, 210px);
      column-gap: 4rem;
    }
  
    .menu__content{
      padding: 1.5rem;
    }
    .menu__img{
      width: 130px;
    }
  
    .app__store{
      margin: 0 var(--mb-1);
    }
  }
  
  @media screen and (min-width: 960px){
     .bd-container{
       margin-left: auto;
       margin-right: auto;
     }
  
     .home__img{
       width: 500px;
     }
  
     .about__container,
     .app__container{
       column-gap: 7rem;
     }
  }
  /* NOT FOUND 404 */
  #notFound{
   ::selection{
     background-color: rgba(0,0,0,0.2);
   }

   ::-moz-selection{
     background-color: rgba(0,0,0,0.2);
   }


   a{
     color: white;
     text-decoration: none;
     border-bottom: 1px solid rgba(255,255,255,0.5);
     transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     margin-right: 10px;
   }

   a:last-child { margin-right: 0px; }

   a:hover {
     text-shadow: 0px 0px 1px rgba(255, 255, 255, .5);
     border-bottom: 1px solid rgba(255, 255, 255, .1);
   }

   #noscript-warning {
     width: 100%;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.2);
     font-weight: 300;
     color: white;
     padding: 10px 0px 10px 0px;
    //  padding-bottom: 10px;
   }

   /* === WRAP === */
   #wrap {
     width: 80%;
     max-width: 1400px;
     margin:0 auto;
     height: auto;
     position: relative;
     margin-top: 8%;
   }

   /* === MAIN TEXT CONTENT === */
   #main-content {
     float: right;
     max-width: 45%;
     color: white;
     font-weight: 300;
     font-size: 18px;
     padding-bottom: 40px;
     line-height: 28px;
   }

   #main-content h1 {
     margin: 0px;
     font-weight: 400;
     font-size: 42px;
     margin-bottom: 40px;
     line-height: normal;
   }

   /* === NAVIGATION BUTTONS === */
   #navigation { margin-top: 2%; }

   #navigation a.navigation {
     display: block;
     float: left;
     background-color: rgba(0, 0, 0, 0.2);
     padding-left: 15px;
     padding-right: 15px;
     color: white;
     height: 41px;
     line-height: 41px;
     text-decoration: none;
     font-size: 16px;
     transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     margin-right: 2%;
     margin-bottom: 2%;
     border-bottom: none;
   }

   #navigation a.navigation i { line-height: 41px; }

   #navigation a.navigation:hover {
     background-color: rgba(26, 188, 156, 0.7);
     border-bottom: none;
   }

   /* === WORDSEARCH === */

   #wordsearch {
     width: 45%;
     float: left;
   }

   #wordsearch ul {
     margin: 0px;
     padding: 0px;
   }

   #wordsearch ul li {
     float: left;
     width: 12%;
     background-color: rgba(0, 0, 0, .2);
     list-style: none;
     margin-right: 0.5%;
     margin-bottom: 0.5%;
     padding: 0;
     display: block;
     text-align: center;
     color: rgba(255, 255, 255, 0.7);
     text-transform: uppercase;
     overflow: hidden;
     font-size: 24px;
     font-size: 1.6vw;
     font-weight: 300;
     transition: background-color 0.75s ease;
     -moz-transition: background-color 0.75s ease;
     -webkit-transition: background-color 0.75s ease;
     -o-transition: background-color 0.75s ease;
   }

   #wordsearch ul li.selected {
     background-color: rgba(26, 188, 156, 0.7);
     color: rgba(255, 255, 255, 1);
     font-weight: 400;
   } 

   /* === SEARCH FORM === */
   #search input[type='text']{
     width: 88%;
     height: 41px;
     padding-left: 15px;
     padding-right: 15px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     background-color: rgba(0, 0, 0, 0.2);
     border: none;
     outline: none;
     -webkit-appearance: none;
     font-size: 16px;
     font-weight: 300;
     color: white;
     font-family: 'source sans pro', sans-serif;
     transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     border-radius: 0px;
   }

   #search .input-search {
     width: 10%;
     float: right;
     height: 41px;
     background-color: rgba(0, 0, 0, 0.2);
     outline: none;
     border: none;
     -webkit-appearance: none;
     font-family: 'source sans pro', sans-serif;
     color: white;
     font-weight: 300;
     font-size: 16px;
     cursor: pointer;
     transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     text-align: center;
   }

   #search .input.search:hover {
     background-color: rgba(26, 188, 156, 0.7);
   }


   /* === RESPONSIVE SCSS === */

   @media all and (max-width: 899px) {
     #wrap { width: 90%; }
   }

   @media all and (max-width: 799) {
     #wrap { width: 90%; height: auto; margin-top: 40px; top: 0%; }
     #wordsearch { width: 90%; float: none; margin: 0 auto; }
     #wordsearch ul li { font-size: 4vw; }
     #main-content { float: none; width: 90%; max-width: 90%; margin: 0 auto; margin-top: 30px; text-align: justify; }
     #main-content h1 { text-align: left; }
     #search input[type='text'] { width: 84%; }
     #search .input-search { width: 15%; }
   }

   @media all and (max-width: 499px) {
     #main-content h1 { font-size: 28px; }
   }
  }