/*CONTENT LIST */
/**************/
// 1. Border
// 2. Shadow
// 3. Transition
/*************/


// 1. Border

@mixin radius($border-top-left: 8px, $border-top-right: 8px, $border-bottom-left: 8px, $border-bottom-right: 8px) {
    -moz-border-radius-topleft: $border-top-left;
    -webkit-border-top-left-radius: $border-top-left;
    border-top-left-radius: $border-top-left;
    -moz-border-radius-topright: $border-top-right;
    -webkit-border-top-right-radius: $border-top-right;
    border-top-right-radius: $border-top-right;
    -moz-border-radius-bottomright: $border-bottom-right;
    -webkit-border-bottom-right-radius: $border-bottom-right;
    border-bottom-right-radius: $border-bottom-right;
    -moz-border-radius-bottomleft: $border-bottom-left;
    -webkit-border-bottom-left-radius: $border-bottom-left;
}

// 2. Shadow

@mixin box-shadow ($top: 6px, $left: 6px, $blur: 12px, $color: #00000099, $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}


// 3. Transition

@mixin transition() {
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@mixin btn-sod($background: transparent, $color: $grey-55 ) {
    display: inline-block;
    font-weight: 600;
    color: $color;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $background;
    border: 1px solid $background;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    @include radius($border-top-left:0.25rem, $border-top-right: 0.25rem, $border-bottom-left: 0.25rem, $border-bottom-right: 0.25rem);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        color: $color;
        text-decoration: none;
    }

    &:focus, &.focus {
        outline: none;
        @include box-shadow ($top: 0px, $left: 3px, $blur: 6px, $color: rgba(0,0,0,.3), $inset: "");
    }

    &.disabled, &:disabled {
        opacity: 0.65;
    }

    &.custom-btn-primary {
        color: $white;
        background-color: $primary;
        border: 1px solid $primary;

        &:hover {
            color: $primary;
            background-color: transparent;
            border-color: $orange-2;
            @include box-shadow($top: 0.1rem, $left: 0.1rem, $blur: .2rem, $color: rgba(255, 155, 0, 0.3), $inset: "");
        }

        &:focus, &.focus {
            color: $white;
            background-color: $primary;
            border-color: $orange-2;
            @include box-shadow($top: 0.1rem, $left: 0.1rem, $blur: .2rem, $color: rgba(255, 155, 0, 0.3), $inset: "");
        }

        &.disabled, &:disabled {
            background-color: $grey-20;
            border-color: $grey-20;
            color: $grey-55;
        }

        &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
            color: $white;
            background-color: $orange-3;
            border-color: $orange-1;
        }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {

            @include box-shadow($top: 0.1rem, $left: 0.1rem, $blur: 0.2rem, $color:rgba(255,204,128,0.5), $inset: "")
        }
    }

    &.custom-btn-gradient {
        color: $white;
        background-image: linear-gradient(to right, rgba(255,105,0,.8) 15%,rgba(255,184,28,1) );
        border: none;
        font-weight: 800;
        position: relative;

        &:hover {
            background-position: 100% 0;
            @include transition();
            border: none;
            @include box-shadow($top: 0, $left: 0, $blur: 0.2rem, $color:rgba(255,204,128,0.5), $inset: "");
        }


        &.disabled, &:disabled {
            background-color: $grey-20;
            border-color: $grey-20;
            color: $grey-55;
        }
    }

    &.custom-btn-outline {
        color: $primary;
        background-color: transparent;
        border-color: $orange-2;

        &:hover {
            color: $white;
            background: $primary;
            border-color: $primary;
        }

        &:focus, &.focus {
            @include box-shadow($top: 0.1rem, $left: 0.1rem, $blur: .2rem, $color: rgba(255, 155, 0, 0.3), $inset: "");
        }

        &.disabled, &:disabled {
            color: $grey-55;
            background-color: transparent;
            border-color: $grey-20;
        }


    }

    &.custom-btn-icon {
    }
}


